:root {
    --main-dark: #000814;
    --main-light: #dbd6d2;
    --alt-dark: #330a1d;
    --alt-light: #ffd60a;
    --highlight: #6f73d2;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: var(--main-dark);
    color: var(--main-light);
}

h1 {
    display: block !important;
    font-size: 2rem !important;
    margin: 0.67rem 0 !important;
    font-weight: bold !important;
}

h2 {
    display: block !important;
    font-size: 1.5rem !important;
    margin: 0.83rem 0 !important;
    font-weight: bold !important;
}

h3 {
    display: block !important;
    font-size: 1.17rem !important;
    margin-top: 1rem 0 !important;
    font-weight: bold !important;
}

h4 {
    display: block !important;
    font-size: 1rem !important;
    margin: 1.33rem 0 !important;
    font-weight: bold !important;
}

blockquote {
    display: block;
    margin: 1rem 40px;
    border-left: 10px solid var(--highlight);
    padding: 0 10px;
    text-align: left;
    background-color: var(--main-light);
}

ul {
    display: block !important;
    list-style-type: disc !important;
    margin: 1rem 0 !important;
    margin-bottom: 1rem !important;
    padding-left: 30px !important;
}

li {
    display: list-item;
    text-align: left;
}

img {
    display: inline-block;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.strapline {
    width: 100%;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding: 5px 0;
    color: var(--highlight);
    border-bottom: var(--highlight) 2px solid;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: black;
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
